$gray-color: #a9a8a8;
$gray-light-color: #ececec;
$gray-dark-color: #696969;
$green-color: LightGreen;
$black-color: #081c24;
$gold-color: #f9d208;

$font-stack:    'Avenir', Helvetica, Arial, sans-serif;